a {
    color: black;
}

p {
    font-family: Lato, sans-serif;
    font-style: italic;
}

/* NavBar */
.NavBar {
    background-color: rgb(52, 51, 53);
    overflow: hidden;
    top: 0;
    width: 100%;
    opacity: 0.9;
    font-family: Lato, sans-serif;
}

/*Elementy NavBar*/
.NavBar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.NavBar a:hover {
    background-color: rgb(29, 17, 17);
}


.Container {
    display: grid;
    background: rgb(177, 171, 171);
    grid-template-rows: 1fr 1fr 1fr 1fr 1f 1f;
}

h3 {
    text-align: center;
    font-family: Overpass, sans-serif;
}

.Info {
    background-image: url("img/pic2.jpg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-flow: row - wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.Info .photo {
    box-flex: 1;
    box-sizing: border-box;
    padding: 10px;
    width: 35%;
    height: 100%;
    text-align: center;

}


.Info img {
    border: 2px solid black;
    border-radius: 50px;
    width: 70%;
    height: 90%;
}

.Info .informations {
    width: 35%;
    height: auto;
    box-flex: 2;
    padding: 10px;
    align-self: center;
    text-align: flex-start;
}

.Info .informations p {
    color: black;
    font-size: 25px;
}


.Introduction {
    background-image: linear-gradient(rgb(75, 75, 78), rgb(236, 230, 230));
    padding: 3% 20%;
    text-align: center;
    font-size: 25px;
}

/*Panel doświadczenie*/
.Experience {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    background-image: url("img/pic3.jpg");
    background-size: cover;
    padding: 3%;
    overflow: hidden;
}


.job {
    background-image: linear-gradient(to right, rgb(198, 198, 243), rgb(96, 85, 238));
    border: 2px solid black;
    align-self: center;
    justify-self: end;
    text-align: end;
    width: 60%;
    padding: 10px;
}

.job_description {
    background-image: linear-gradient(to left, rgb(198, 198, 243), rgb(96, 85, 238));
    border: 2px solid black;
    align-self: center;
    width: 60%;
    justify-self: start;
    padding: 10px;
    padding-right: 20%;

}

/*Panel umiejtnosci*/
.Skills {
    display: grid;
    background-image: url("img/pic5.jpg");
    background-size: cover;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    height: 400px;
    justify-items: center;
    align-items: center;
    padding: 3% 15%;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}








/*Panel zainteresowan*/
.Interests {
    background-image: url("img/pic4.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    justify-items: center;
    align-items: center;
}

.volley,
.literature,
.coding {
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    width: 80%;
    height: 80%;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.Interests img {
    padding: 15px;
    border-radius: 50px;
    width: 70%;
    height: 90%;

}

.volley:hover,
.literature:hover,
.coding:hover {
    -webkit-transform: scale(1.2) rotate(5deg);
    -ms-transform: scale(1.2) rotate(5deg);
    transform: scale(1.2) rotate(5deg);

}

/*Panel kontaktowy*/
.Contact {
    text-align: center;
    font-size: 25px;
}