/* NavBar */
.NavBar {
    background-color: gray;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
}

/*Elementy NavBar*/
.NavBar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.NavBar a:hover {
    background-color: rgb(29, 17, 17);
}


.Container {
    display: grid;
    background: red;
    margin-top: 46px;
    grid-template-rows: 1fr 1fr 1fr 1fr 2f 1f 2fr 1fr;
}

h3 {
    text-align: center;
}
.Info {
    display: flex;
    flex-direction: row;
    flex-flow: row - wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: blue;
}

.Info .photo {
    background: red;
    box-flex: 1;
    box-sizing: border-box;
    padding: 10px;
    width: 35%;
    height: 100%;
    text-align: center;

}


.Info .photo>img {
    padding: 15px;
    border-radius: 50px;
    width: 70%;
    height: 90%;
}

.Info .informations {
    background: olive;
    width: 35%;
    height: auto;
    box-flex: 2;
    padding: 10px;
    align-self: center;
    text-align: flex-start;


}

.Info .informations p {
    color: pink;
    /*tu czcionki do zmienienia*/
}


.Introduction {
    border: 5px solid black;
    padding: 3% 20%;
    text-align: center;
    background: purple;
}

/*Panel doświadczenie*/
.Experience {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    background: yellow;
    padding: 3%;
    overflow: hidden;
}



.Experience .job {
    align-self: center;
    text-align: end;
    padding: 10px;
}

.Experience .job_description {
    align-self: center;
    padding: 10px;
    padding-right: 40%;
}

/*Panel umiejtnosci*/
.Skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    background: orange;
    height: 400px;
    justify-items: center;
    align-items: center;
    padding: 3% 15%;
}
/* 
.ldBar-label {
    color: blue;
    font-family: tahoma;
    font-size: 1.5em;
    font-weight: 900
  }

  
  .ldBar-label:after {
    content:4;
    color: red;
    margin-left: 5px;
    font-family: courier new;
    font-size: 0.7em;
    font-weight: 200;
  } */




/*Panel zainteresowan*/
.Interests {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr;
    grid-column-gap: 10px;
    justify-items: center;
    align-items: center;
}

.Interests .volley{
    box-sizing: border-box;
    background: blue;
    padding: 10px;
    width: 80%;
    height: 80%;
    text-align: center;
}

.Interests .volley> img {
    padding: 15px;
    border-radius: 50px;
    width: 70%;
    height: 90%;

}


.Interests .coding{
    box-sizing: border-box;
    background: grey;
    padding: 10px;
    width: 80%;
    height: 80%;
    text-align: center;
}

.Interests .coding> img {
    padding: 15px;
    border-radius: 50px;
    width: 70%;
    height: 90%;
}


.Interests .literature{
    box-sizing: border-box;
    background: peru;
    padding: 10px;
    width: 80%;
    height: 80%;
    text-align: center;
}

.Interests .literature> img {
    padding: 15px;
    border-radius: 50px;
    width: 70%;
    height: 90%;
}

.Interests p{
    size: 30px;
    background: yellow;
    color: blue;
    
}

/*Panel kontaktowy*/
.Contact {
    background: white;
}

